.root {
    height: 100vh;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #dedede;
    width: 100%;
    padding: 5px 15px;

    +div {
        margin-top: 10px;
        position: relative;
    }

    .logo {
        background-image: url('/images/logo.png');
        width: 125px;
        height: 50px;
    }
}

footer {
    border-bottom: 10px solid #1d2c30;
    height: 50px;
    background-color: #2a4e58;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbar {
    .link-active {
        box-shadow: 0px 3px 0px #163233;
        border-radius: 0px !important;
    }

    a {
        color: #163233;
        font-weight: 600;
        font-size: 16px;

        :hover,
        :focus,
        :visited {
            color: #163233;
        }
    }
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #304848;
    color: #ffffff;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #304848;
}

.login {
    margin: 8% 40%;
    width: 300px;
}

.ribbon {
    margin-top: 10px;
    height: 75px;
    widows: 100%;
    line-height: 75px;
}

.dashboard {
    .ribbon {
        background-color: #f3f3f3;
        padding: 0;
        width: 100%;
        position: relative;

        .row {
            .col-lg-2 {
                padding: 0 15px;
                line-height: 30px;

                div:first-child {
                    font-size: 10px;
                    font-weight: 800;
                }

                div:last-child {
                    font-size: 30px;
                }

            }
        }
    }

    .head {
        .row {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 800;
            margin-bottom: 5px;
            margin-left: 16%;
            height: 30px;
            line-height: 45px;
        }

        hr {
            width: 62%;
            margin-left: 16%;
        }
    }

    .content {
        .row {
            font-size: 12px;
            margin-left: 16%;

            a {
                color: blue;
            }
        }

        hr {
            width: 62%;
            margin-left: 16%;

        }
    }

}
.bankChart{

    .tempChart {
        width: 40%;
        float: left;
    }
    .graphChart{
        width: 60%;
        float: left;
    }
}